<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-head :: common-head('Gestión de Tareas | Crear Tarea')"></head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="header :: header"></header>

<main class="container mt-4 flex-grow-1">
    <h1>Crear Tarea</h1>
    <form th:action="@{/tareas}" th:object="${tarea}" method="post" class="mt-3">
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" required>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha:</label>
            <input type="date" class="form-control" id="fecha" th:field="*{fecha}" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</main>

<footer th:replace="footer :: footer" class="mt-auto"></footer>

<div th:replace="scripts :: common-scripts"></div>
</body>
</html>
