<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-head :: common-head('Gestion de Tareas | Dashboard')"></head>

<body>
    <!-- incluir el header -->
    <header th:replace="header.html"></header>

    <!-- Contenido del Dashboard -->
    <div class="container mt-4">
        <h1 class="text-center">Dashboard de Gestión de Tareas</h1>
        <p>Bienvenido al panel de control de la gestión de tareas. Aquí puedes visualizar estadísticas, tareas, personas, etc.</p>
    </div>

    <!-- Footer -->
    <footer th:replace="footer.html"></footer>

    <!-- Incluir fragmento de scripts comunes -->
    <div th:replace="scripts :: common-scripts"></div>
</body>
</html>










<!-- Contenido del dashboard -->
<!-- incluir el footer -->



