<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-head :: common-head('Gestion de Tareas | Listado de Personas')"></head>
<body>
    <header th:replace="header.html"></header>

    <div class="container mt-4">
        <h1>Listado de Personas</h1>
        <ul class="list-group mt-3">
            <li class="list-group-item" th:each="persona : ${personas}">
                <span th:text="${persona.nombre}">Nombre</span>,
                <span th:text="${persona.apellidos}">Apellidos</span>
            </li>
        </ul>
    </div>

    <footer th:replace="footer.html"></footer>

    <!-- Incluir fragmento de scripts comunes -->
    <div th:replace="scripts :: common-scripts"></div>
</body>
</html>
