/***********************
Menu de navegacion basico
************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/***********************
reset
************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********************
general
***********************/

html {
  font-size: 16px;
}

body {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

/************************
navegacion
*************************/



/**************************
links
***************************/

ul {
  list-style: none;
}

/***********************
link states
***********************/
.item-menu, .item-menu:link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  color: #4f4f4f;
  padding: 0.5rem 3rem 0.5rem 1rem;
  transition: all .25s ease-in-out;
}

.item-menu:visited {
  color: #4f4f4f;
}

.item-menu:focus {
  outline: 1px dotted rgba(0, 0, 0, .3)
}

.item-menu:hover {
  background-color: #494949;
  color: #fff;
}

.item-menu:active {
  background-color: #333;
  color: #fff;
}


/* iconos */

.fa-solid {
  margin-right: .5rem;
}